PORT=8080

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://postgres:<password>@localhost:5432/hookfire?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations

REDIS_URL="redis://localhost:6379"
WORKER_COUNT="10"